@import 'variables';

// General stylings

* {
	box-sizing: border-box;
}
html,
body {
	width: 100%;
	text-align: center;
	background: $lightGrey;
	font-family: $font;
	font-size: 14px;
	color: black;
	margin: 0;
	overflow-x: hidden;
	scroll-behavior: smooth;
}
.container {
	width: 100%;
}
a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	&:hover, &:focus {
		text-decoration: underline;
	}
}
::placeholder {
	font-style: italic;
}
.primary_button {
	display: flex;
	justify-content: center;
	align-items: center;
	background: $gradient;
	border: none;
	padding: 0.45em;
	color: white;
	transition: $transition;
	&:hover, &:focus {
		box-shadow: $shadowHover;
		background: $gradientHover;
		border: $borderFocus;
	}
}
.input {
	background-color: white;
	padding: 1em;
	font-size: 1em;
	border: none;
	border-bottom: solid 2px $darkGrey;
	&:focus {
		border: $borderFocus;
	}
}
//Will be replaced by custom border
:focus {
	outline: 0;
}

// Skip link

.skip_link {
	position: absolute;
	top: 0;
	left: 0;
	background: black;
	color: white;
	border: solid 1px black;
	padding: 0.5em;
	transform: translateX(-500px);
	transition: $transition;
	&:focus {
		transform: translateX(0);
	}
}

// Header

.header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	background: $gradient;
	color: white;
	padding: 1em;
	box-shadow: $shadow;
	i {
		font-size: 2em;
	}
	h1 {
		font-size: 1em;
		margin-left: 1em;
	}
}

// Form

.form {
	padding: 2em 2em 0 2em;
	label {
		font-weight: bold;
	}
}
.form_input {
	margin: 2em 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.form_input--text {
	width: 80%;
	border-top-left-radius: 5px;
	padding: 1.13em;
}
.form_input--submit {
	border-top-right-radius: 5px;
	font-size: 2em;
}

// Sort and filters

.options_container {
	display: none;
	margin: 0 2em;
}
.show {
	display: block;
}
.break {
	margin: 2em 0;
}
.filters {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.sort_container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	margin-bottom: 2em;
	label {
		text-align: left;
		margin-bottom: 0.5em;
	}
}
.filter_container {
	width: 100%;
}
.filter_status,
.filter_releaseDate {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	margin-bottom: 2em;
	label {
		text-align: left;
		margin-bottom: 0.5em;
	}
}
.filters_button--submit {
	font-size: 1.3em;
	border-radius: 5px;
	font-weight: bold;
	padding: 0.5em 2em;
	margin: 1em;
	box-shadow: $shadow;
}

// Main

.main {
	width: 100%;
	margin: 3em auto 1em auto;
}

// Loading indicator
.loading {
	font-size: 4em;
	color: $darkGrey;
	animation: rotate 1s linear infinite;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

// Search results

.results_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.card_container {
	display: flex;
	flex-direction: column;
	width: 300px;
	background: white;
	box-shadow: $shadow;
	margin: 1em;
	border-radius: $radius;
	overflow: hidden;
	font-weight: normal;
	transition: $transition;
	&:hover {
		box-shadow: $shadowHover;
		text-decoration: none;
	}
	&:focus {
		box-shadow: $shadowHover;
		border: $borderFocus;
	}
}
.image_container {
	width: 210px;
	height: 295px;
	margin: 0 auto;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.card_details {
	display: flex;
	flex-direction: column;
	// width: 100%;
	padding: 1em 1.5em;
}
.card_title {
	height: 1.15em;
	overflow: hidden;
}
.card_description {
	border-top: $border;
	border-bottom: $border;
	margin: 1em 0;
	text-align: justify;
}
.card_more {
	p {
		margin: 0;
	}
}
.date_container,
.status_container,
.rating_container,
.runtime_container,
.awards_container {
	display: flex;
	justify-content: space-between;
}
.date_label,
.status_label,
.rating_label,
.runtime_label,
.awards_label {
	display: block;
	width: 45%;
	text-align: right;
}
.card_date,
.card_status,
.card_rating,
.card_runtime,
.card_awards {
	width: 50%;
	display: block;
	text-align: left;
}
.results_warning {
	padding: 0 2em;
}
.results_nomore {
	display: none;
	margin-bottom: 2em;
}

// Footer

.footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	bottom: 0;
	left: 0;
	padding: 1em;
	background: $gradient;
}

.footer_paragraph {
	margin: 0;
	color: white;
	font-size: 0.8em;
	a {
		color: white;
	}
}

// Scroll to top button

.scroll_top {
	position: fixed;
	display: none;
	bottom: 4em;
	left: 0.5em;
	border-radius: 50%;
	box-shadow: $shadow;
}