// Theme colors

$primaryColor: #00d6cf;
$secondaryColor: #005754;
$lightGrey: #f2f2f2;
$darkGrey: #9d9d9d;

// Font

$font: 'Montserrat', sans-serif;

// Miscellaneous

$shadow: 5px 5px 10px $darkGrey;
$shadowHover: 2px 2px 2px $darkGrey;
$radius: 5px;
$gradient: linear-gradient(to bottom right, $primaryColor, $secondaryColor);
$gradientHover: linear-gradient(to bottom right, $secondaryColor, $primaryColor);
$border: solid 1px $darkGrey;
$transition: all 0.3s ease;